@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-container {
  background: #fff;
  padding: 15px 30px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.todo-form {
  display: flex;
  gap: 10px;
}

.todo-form input[type='text'] {
  flex: 1;
  font-family: 'Rubik', serif;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
  outline: none;
}
.todo-form input[type='text']:focus {
  border-color: steelblue;
}

.todo-form button {
  padding: 10px 15px;
  border: none;
  background-color: steelblue;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.todo-list {
  list-style: none;
  padding: 0;
  margin: 20px 0 0;
}

.todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  background: #f9f9f9;
}

.todo-list span {
  flex: 1;
  margin-left: 12px;
  font-size: 15px;
}

.todo-list span.completed {
  text-decoration: line-through;
  color: #888;
}

.todo-list li button {
  font-family: 'Rubik', serif;
  background-color: #d9534f;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.todo-list li button:hover {
  background-color: #c9302c;
}
